# angelia-backend/requirements.txt
fastapi
uvicorn[standard]
pandas
scikit-learn
joblib
parselmouth
psycopg2-binary
SQLAlchemy
python-dotenv
# librosa  <-- REMOVIDO PARA SEMPRE
# soundfile <-- REMOVIDO PARA SEMPRE (dependência comum de librosa)
numpy