praat-parselmouth
pandas
chromadb
numpy
fastapi
uvicorn[standard]
python-multipart
scikit-learn
joblib
pandas
praat-parselmouth
chromadb
numpy
python-dotenv 
librosa
soundfile
parselmouth # Pode ser 'parselmouth-praat' dependendo da instalação
psycopg2-binary # Driver PostgreSQL
SQLAlchemy # ORM para interagir com o PostgreSQL
python-dotenv # 